<div class="map-card">
  <div class="map-header">
    <div class="header-icon">
      <i class="fas fa-map-marked-alt"></i>
    </div>
    <h3>Our Location</h3>
    <p>Located in Andheri, Mumbai for your convenience</p>
    <div class="header-decoration"></div>
  </div>

  <div class="map-content">
    <!-- <div class="location-badge">
      <i class="fas fa-map-pin"></i>
      <span>Easy to Find | Peaceful Environment</span>
    </div> -->
    
    <p class="location-description">
      We are conveniently located in the heart of Andheri, Mumbai, offering easy accessibility for students and parents. Our campus is situated in a calm and secure environment that supports focused learning. You can find our exact location on Google Maps below.
    </p>

    <div class="address-box">
      <div class="address-icon">
        <i class="fas fa-location-dot"></i>
      </div>
      <div class="address-details">
        <span class="address-label">Visit Us:</span>
        <span class="address-text">Andheri, Mumbai, Maharashtra 400059</span>
      </div>
    </div>

    <div class="map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d471.2451440299305!2d72.8710296!3d19.1093601!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c83f172ebc3b%3A0x76a127c8f97fb81d!2s4V5C%2BQC9%2C%20Shubham%20Rd%2C%20Mariyyman%20Nagar%2C%20Ashok%20Nagar%2C%20Andheri%20East%2C%20Mumbai%2C%20Maharashtra%20400059!5e0!3m2!1sen!2sin!4v1771601403619!5m2!1sen!2sin"
        width="100%"
        height="350"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="google-map"
      ></iframe>
      
      <!-- <div class="map-badge">
        <i class="fas fa-check-circle"></i>
        <span>Verified Location</span>
      </div> -->
    </div>

    <a href="https://www.google.com/maps/dir//4V5C%2BQC9,+Shubham+Rd,+Mariyyman+Nagar,+Ashok+Nagar,+Andheri+East,+Mumbai,+Maharashtra+400059/@19.1093601,72.8710296,20z/data=!4m18!1m8!3m7!1s0x3be7c83f172ebc3b:0x76a127c8f97fb81d!2s4V5C%2BQC9,+Shubham+Rd,+Mariyyman+Nagar,+Ashok+Nagar,+Andheri+East,+Mumbai,+Maharashtra+400059!3b1!8m2!3d19.1094432!4d72.8710941!16s%2Fg%2F11fq4l08k6!4m8!1m0!1m5!1m1!1s0x3be7c83f172ebc3b:0x76a127c8f97fb81d!2m2!1d72.8710941!2d19.1094432!3e3?entry=ttu&g_ep=EgoyMDI2MDIxOC4wIKXMDSoASAFQAw%3D%3D" 
       target="_blank" 
       class="direction-btn">
      <span>Get Directions</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  </div>

  <div class="map-decoration">
    <div class="decoration-circle"></div>
    <div class="decoration-dots"></div>
  </div>
</div>